body{
  background: #FFEFEF;
}

.card_imag{
  overflow: hidden;
}
.card_imag img{
  filter: drop-shadow(5px 5px 10px #000000);
  transition: all linear .6s;

}
.card_imag:hover img{
  transform: scale(1.1);
}

.animationCard{
  animation: pop .4s linear;
}
@keyframes pop{
  from{
    transform: scale(0.1);
  }
  to{
    transform: scale(1);
  }
}